/*Google Fonts*/
@import 'https://fonts.googleapis.com/css?family=Lobster|Satisfy|Shadows+Into+Light';
@import 'https://fonts.googleapis.com/css?family=Lora';
/*font-family: 'Lora', serif;*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');
/*font-family: 'Roboto Mono', monospace;*/

/* SPLASH PAGE */
/* Splash - Structure */
#body-splash {
  display: flex;
  background-color: #123B42;
  color: white;
}

#splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Splash - Logo */
.logo {
  width: 10vw;
}

/* Splash - Type */
h1 {
  font-size: 8vw;
}

#splash h2 {
  font-size: 6vw;
  font-family: 'Shadows Into Light', cursive;
}

/* Splash - Button/Link */
#btn-splash {
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-width: .25vw;
  margin-top: 21px;
  font-size: 2vw;
}
#btn-splash:hover {
  background-color: white;
  color: #123B42;
}
.a-splash {
  color: white;
  text-decoration: none;
}



/* PORTFOLIO PAGE */
/* Portfolio - Structure */
#body-porfolio h4{
  font-family: 'Roboto Mono', monospace;
}

.padding-portfolio {
  padding-top: 8vw;
  padding-bottom: 8vw;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.xtra-cushion {
  margin: 2vw;
}

/* Portfolio - Background */
.background-isabelline {
  background-color: #EAEFEE;
}
.background-white {
  background-color: #FFFFFF;
}

/* Portfolio - Button */
.btn-portfolio {
  background-color: transparent;
  border-style: solid;
  border-color: black;
  border-width: .15vw;
  font-size: 1.5vw;
  color: black;
  text-transform: uppercase;
  margin-bottom: 2vw;
  cursor: default;
}

.btn-primary {
  background-color: #123B42;
  border-color: #123B42;
  font-size: 1.5vw;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #C1CC30;
  border-color: #C1CC30;
  font-size: 1.5vw;
  text-transform: uppercase;
}

.btn-link {
    font-size: 1.2vw;
    margin-bottom: 0;
}

.btn-link:hover {
  background-color: #123B42;
  border-color: #123B42;
  color: white;
  text-decoration: none;
}

/* Porfolio - Type */
h3 {
  margin-bottom: 2vw;
}
#resume h5 {
  margin-bottom: 3vw;
}

/* Portfolio - Gallery */
.gallery ul li {
    margin: 0;
    position: relative;
    list-style: none;
    float: left;
    padding: 0;
}
.gallery img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #123B42;
  width: 100%;
  height: 10vh;
}
footer h5 {
    font-family: 'Roboto Mono', monospace;
    color: white;
}
