/*Google Fonts*/
@import 'https://fonts.googleapis.com/css?family=Lobster|Satisfy|Shadows+Into+Light';
/*font-family: 'Lobster', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Satisfy', cursive;*/
@import 'https://fonts.googleapis.com/css?family=Lora';
/*font-family: 'Lora', serif;*/

/* SPLASH PAGE */
/* Splash - Structure */
#body-splash {
  background-color: #123B42;
  color: white;
}

#splash {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Splash - Logo */
.logo {
  width: 10vw;
}

/* Splash - Type */
h1 {
  font-size: 8vw;
}

#splash h2 {
  font-size: 6vw;
  font-family: 'Shadows Into Light', cursive;
}

/* Splash - Button/Link */
#btn-splash {
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-width: .25vw;
  margin-top: 21px;
  font-size: 2vw;
}
.a-splash {
  color: white;
  text-decoration: none;
}
.a-splash:hover {
  color: #C1CC30;
  text-decoration: none;
}


/* PORTFOLIO PAGE */
/* Portfolio - Structure */
.padding-portfolio {
  padding-top: 8vw;
  padding-bottom: 8vw;
}

/* Portfolio - Background */
.background-isabelline {
  background-color: #EAEFEE;
}
.background-cambridge {
  background-color: #9DB5B2;
}
.background-white {
  background-color: #FFFFFF;
}

/* Portfolio - Button */
.btn-portfolio {
  background-color: transparent;
  border-style: solid;
  border-color: black;
  border-width: .15vw;
  font-size: 1.5vw;
  color: black;
  text-transform: uppercase;
  margin-bottom: 2vw;
  cursor: default;
}
.btn-primary {
  background-color: #123B42;
  border-color: #123B42;
  font-size: 1.5vw;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: #C1CC30;
  border-color: #C1CC30;
  font-size: 1.5vw;
  text-transform: uppercase;
}
/* Porfolio - Type */
h3 {
  font-family: 'Lora', serif;
  margin-bottom: 2vw;
}

.form-input {
  margin-bottom: 2vw;
}
.form-control {
  border-color: black;
  border-width: .15vw;
  color: black;
}
.form-control::-webkit-input-placeholder { color: black; text-transform: uppercase;}
.form-control:-moz-placeholder { color: black; text-transform: uppercase;}
.form-control::-moz-placeholder { color: black; text-transform: uppercase;}
.form-control:-ms-input-placeholder { color: black; text-transform: uppercase;}

/* Portfolio - Project Cards */
.card img {
  width: 90%;
}
.rating {
  color: black;
}
.desc-tech {
  margin-bottom: 2vw;
}

body {
   overflow-x: hidden;
}
